body {
  background-color: #e8e9f3;
  color: #190933;
  font-size: 16px;
  font-family: 'PT Serif', serif;
  font-family: 'Roboto', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Updated for mobile */
  gap: 20px;
}

#animation-container {
  position: relative;
}

#skip {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #fff;
  color: #000;
  padding: 10px;
  text-decoration: none;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#skip:focus {
  top: 0;
  opacity: 1;
}

.profile {
  border: 1px solid #262032;
  padding: 20px;
}

.profile img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Brush Script MT, Brush Script Std;
  font-size: 24px; /* Adjusted for mobile */
  font-style: italic;
  text-align: center;
}

h2, h3 {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 18px; /* Adjusted for mobile */
  color: indigo;
  position: relative;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

p {
  line-height: 1.5;
}

img {
  border: 3px solid #190933; 
  padding: 5px;
  margin: 10px;
  border-top-right-radius: 30px;
}

img:hover {
  transform: scale(1.05); 
}

list {
  display: block; 
  margin-left: 0;
}

nav {
  background-color: #363636;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #e8e9f3;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
  position: relative;
}

nav a:hover {
  color: #fff; /* Change the hover color */
}

nav a.active {
  color: rgb(253, 168, 249);
  border-bottom: 2px solid rgb(253, 168, 249);
  padding-bottom: 2px;
}

/* Adding a subtle animation for hover effect */
nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(253, 168, 249); /* Change the underline color */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Adding a smooth transition for the active link */
nav a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Adjusting the transition speed for the active link */
nav a.active {
  transition: color 0.3s ease, border-bottom-color 0.3s ease, padding-bottom 0.3s ease;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #363636;
  color: #e8e9f3;
  text-align: center;
  height: 100px;
  padding: 5px;
}

.easter-egg {
  cursor: pointer;
  display: inline-block;
}

.easter-egg img {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border: none;
  height: auto;
  margin-top: 10px;
  border-top-right-radius: 0; /* Corrected value */

  padding: 0;
  margin: 0;
}

.hidden-gif {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  display: none;
  height: auto;
  margin-top: 10px;
  border: none;
  border-top-right-radius: 0;
  padding: 0;
  margin: 0;
}

.easter-egg img,
.hidden-gif {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: none;
}

@media (prefers-reduced-motion: reduce) {
  .gif {
      animation: none !important;
      display: none !important;
      visibility: hidden !important;
  }

  h2, h3 {
      animation: none !important;
  }
}

/* Media query for screens larger than 768px */
@media (min-width: 768px) and (max-width: 1024px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 15px; /* Adjusted gap */
  }

  .profile {
    border: 6px solid #190933;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .profile img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #190933;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .profile-info {
    padding: 20px;
  }


  h1 {
    font-size: 30px;
  }

  h2, h3 {
    font-size: 20px;
  }

  img {
    border: 4px solid #190933;
    padding: 15px;
    margin: 30px;
  }

  list {
    display: inline-block;
    margin-left: 50px;
  }

  @media (prefers-reduced-motion: reduce) {
    .gif {
        animation: none !important;
        display: none !important;
        visibility: hidden !important;
    }
  
    h2, h3 {
        animation: none !important;
    }
  }
}

@media (min-width: 1025px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr)); /* Adjusted column width */
    gap: 25px; /* Adjusted gap */
  }

  .profile {
    display: flex;
    flex-direction: column;
    border: 6px solid #190933;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .profile img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #190933;
  }

  .profile-info {
    padding: 20px;
  }

  h1 {
    font-size: 42px;
  }

  h2, h3 {
    font-size: 28px;
  }

  img {
    border: 6px solid #190933;
    padding: 20px;
    margin: 40px;
  }

  list {
    display: inline-block;
    margin-left: 100px;
  }
  @media (prefers-reduced-motion: reduce) {
    .gif {
        animation: none !important;
        display: none !important;
        visibility: hidden !important;
    }
  
    h2, h3 {
        animation: none !important;
    }
  }
}

